# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
pca:
    # Settings for your CA
  ca:
      # Extra parameters for `x509.certificate_managed`/`x509.csr_managed`,
      # depending on `self_signed`.
    extra_info: {}
      # Asymmetric algorithm to use (rsa/ec/ed25519/ed448)
    key_algo: rsa
      # Key size of the CA key. Relevant for ec (selects curve) and rsa
    keysize: 4096
      # CN of the CA certificate
    name: ''
      # If not self signed, pass the root CA certificate to trust
    root_crt: ''
      # Whether to generate a self-signed certificate.
      # If not self signed, this formula will generate a CSR instead
      # that you will need to sign with the parent CA.
      # You will need to write the resulting signed certificate manually
      # to `<lookup:pki_dir>/<lookup:ca_name>/salt_ca_root.crt`,
      # by default `/etc/pki/salt_ca/salt_ca_root.crt`
    self_signed: true
      # How many days the self-signed certificate should be valid for
    self_signed_valid: 3655

  lookup:
    ca_bundle_path: /etc/pki/ca-trust/source/anchors
    ca_bundle_update_cmd: update-ca-trust
    ca_name: salt_ca
    pip:
      cryptography: cryptography
      pkg: python3-pip
    pki_dir: /etc/pki
