# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
pca:
    # Settings for your CA
  ca:
      # Extra parameters for `x509.certificate_managed`/`x509.csr_managed`,
      # depending on `self_signed`.
    extra_info: {}
      # Asymmetric algorithm to use (rsa/ec/ed25519/ed448)
    key_algo: rsa
      # Key size of the CA key. Relevant for ec (selects curve) and rsa
    keysize: 4096
      # CN of the CA certificate
    name: ''
      # Whether to generate a self-signed certificate
    self_signed: true
      # How many days the self-signed certificate should be valid for
    self_signed_valid: 3655

    # This formula assumes the new, `x509_v2` modules.
    # Additional functionality can be enabled by upgrading the
    # cryptography library. Enable automatic updates for it:
  upgrade_cryptography: false

  lookup:
    ca_bundle_path: /etc/pki/ca-trust/source/anchors
    ca_bundle_update_cmd: update-ca-trust
    ca_name: salt_ca
    pip:
      cryptography: cryptography
      pkg: python3-pip
    pki_dir: /etc/pki
